/* For Tablet View */
@media all and (max-width: 1000px ) {
  .top-wrapper h1 {
    font-size: 32px;
  }
  
  .heading h2 {
    font-size: 20px;
  }
  
  
}


/* For Tablet View */

/*---------------------------------------*/

/* For Smartphone View */

@media all and (max-width: 670px ) {
  .header-right {
    display: none;
    font-size: 25px;
  }
  
  /* Tambahkan CSS untuk menu-icon */
  .menu-icon {
    display: block;
  }
  
  .top-wrapper {
    text-align: left;
  }
  .top-wrapper h1 {
    font-size: 24px;
    line-height: 36px;
  }
  .top-wrapper h2 {
    font-size: 14px;
    line-height: 20px;
  }
  footer {
  text-align: center;
  }
  
  }
  .footer-info {
  text-align: center;
  }
}

/* For Smartphone View */

