/* numpang import font quicksan */
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap" rel="stylesheet');

/*Percobaan saja nanti di edit lagi*/
/*Ini Komentar. Jika ada yang harus di tambahkan bisa kasih pesan disini juga*/
html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p, div {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.fa {
  margin-right: 5px;
}

/*------------------------Header------------------------*/
header {
  height: 90px;
  width: 100%;
  background-color: rgba(51, 0, 102, 0.8);
  position :fixed;
  top: 0;
  z-index: 10;
}

.logo {
  width: 67px;
  margin: 10px 50px;
}

.header-left {
  float: left;
}

.header-right {
  font-family: 'Roboto', sans-serif;
  float: right;
  margin-right: 30px;
}

.header-right a {
  line-height: 90px;
  padding: 0 25px;
  color: white;
  display: block;
  float: left;
  transition: all 0.5s;
}

.header-right a:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

/*-----------------------Header------------------------*/

/*-----------------------MainBody------------------------*/

.top-wrapper {
  padding: 250px 0px 150px 0px;
  background-image: url(https://github.com/mahfudrahman/progate_teamF53/blob/master/img/magic-keyboard.jpg?raw=true);
  background-size: cover;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  color: #34495e;
}
.top-wrapper h1 {
  font-size: 45px;
  letter-spacing: 5px;
  margin-bottom: 3px;
}
.top-wrapper h2 {
  font-size: 20px;
}

/*-----------------------MainBody------------------------*/
section {
  min-height: 550px;
  padding-top: 55px;
  font-family: 'Quicksand', sans-serif;
}

hr {
   width: 250px;
   border-top: 3px solid #999;
}

.sec-container {
  padding: 30px 50px;
}

.row h2 {
  text-align: center;
}

.row p {
  text-align: justify;
  padding-top: 20px;
}

.poto img {
  border-radius: 50%;
  width: 180px;
  box-shadow: 0px 5px 10px 1px rgba(0, 0, 0, 0.5);
}

.poto {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}

.poto1 {
  flex: auto;
  padding-left: 15px;
  margin-bottom: 25px;
}




/*------------------------Footer------------------------*/
footer {
  .footer-left {
  
  }

  .footer-right {
  
  }

/*------------------------Footer------------------------*/
