/*Percobaan saja nanti di edit lagi*/
/*Ini Komentar. Jika ada yang harus di tambahkan bisa kasih pesan disini juga*/

/*------------------------Header------------------------*/
header {

}

/*-----------------------Header------------------------*/

/*-----------------------MainBody------------------------*/

.top-wrapper {
  text-align: center;
}
.top-wrapper h1 {
  font-style: italic;
  font-weight: bold;
  color: blue;
}
.top-wrapper img {
  width : 20%;
  height: 20%;
}

/*-----------------------MainBody------------------------*/

/*------------------------Footer------------------------*/


/*------------------------Footer------------------------*/
