/*Percobaan saja nanti di edit lagi*/
/*Ini Komentar. Jika ada yang harus di tambahkan bisa kasih pesan disini juga*/

/*------------------------Header------------------------*/
header {
  height: 90px;
  width: 100%;
  background-color: rgba(51, 0, 102, 0.8);
  position :fixed;
  top: 0;
  z-index: 10;
}

.logo {
  width: 124px;
  margin-top: 20px;
}

.header-left {
  float: left;
}

.header-right {
  float: right;
  margin-right: -25px;
}

.header-right a {
  line-height: 65px;
  padding: 0 25px;
  color: white;
  display: block;
  float: left;
  transition: all 0.5s;
}

.header-right a:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

/*-----------------------Header------------------------*/

/*-----------------------MainBody------------------------*/

.top-wrapper {
  padding: 180px 0 100px 0;
  background-image: url(https://github.com/mahfudrahman/progate_teamF53/blob/master/img/magic-keyboard.jpg);
  background-size: cover;
  text-align: center;
  color: #ecf0f1;
}
.top-wrapper h1 {
  font-size: 45px;
  letter-spacing: 5px;
  margin-bottom: 3px;
  opacity: 0.7;
}
.top-wrapper p {
  font-size: 10px;
  opacity: 0.7;
}

/*-----------------------MainBody------------------------*/

/*------------------------Footer------------------------*/


/*------------------------Footer------------------------*/
