/*Percobaan saja nanti di edit lagi*/
/*Ini Komentar. Jika ada yang harus di tambahkan bisa kasih pesan disini juga*/

/*------------------------Header------------------------*/


/*-----------------------Header------------------------*/

/*-----------------------MainBody------------------------*/

.top-wrapper {
  text-align: center;
}
.top-wrapper h1 {
  font-size 140px
  font-style:italic;
  color: blue;
}
.top-wrapper img {
  width : 300px;
  height: 300px;
}

/*-----------------------MainBody------------------------*/

/*------------------------Footer------------------------*/


/*------------------------Footer------------------------*/
